@font-face {
    font-family: 'Amatic';
    src: url(../font/AmaticSC-Regular.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    animation-name: img-change;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    background-size: 0px 0px;
    background-position: center;
    z-index: -10;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
}
body{
    font-family: "Amatic";
}

.nav{
    background-image: url('../images/backgyros.jpg');
    background-size: 80% 1100px;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: img-change;
    animation-duration: 20s;
    animation-iteration-count:infinite ;
    animation-delay: 4s;
}

@keyframes img-change{
    0%  {
        background-image: url('../images/backgyros.jpg');
    }
    20%  {
        background-image: url('../images/meatball.jpg');
    }
    40%  {
        background-image: url('../images/grill.jpg');
    }
    60%  {
        background-image: url('../images/fries.jpg');
    }
    80% {
        background-image: url('../images/El-Greco-Outside.jpg');
    }
    100% {
        background-image: url('../images/backgyros.jpg');
    }
  }

@media (max-width: 600px) {
    .nav {
      height:580px;
      background-size: 800px 900px;
      background-position: 50 0, center ;
    }
  }
  
  @media screen and (max-width: 600px){
  .item{
    display:none;
}
    #NavBut{
        display:inline-flex;
        margin-top: 15px;
    }
  }
@media (min-width:600px){
    #NavBut{
        display: none;
    }
    #hdnav a{
        display: none;
    }
}
.nav-items{
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
    justify-content: space-around;
    background-color: black;
    z-index: 10;
}
.nav-items img{
    margin-top: 5px;
}


.nav-items a{
    text-decoration: none;
    font-size: 40px;
    color:white;
}
.nav-items:hover{
    background-color: black;

}

.nav-items a:hover:not(.log):not(.lang){
    background-color: grey;
}
#hdnav{
    position: fixed;
    width: 100%;
    display:none;
    text-align: center;
    background-color: black;
    color:white;
    font-size: 30px;
    top:60px;
    z-index:10;
}
#hdnav>div{
    margin-bottom:12px;
}
#hdnav a{
    text-decoration: none;
    color:white;
}

#hdnav p:hover{
    background-color: grey;
}

.main-img{
    width: 100%;
    height:600px;
    text-align: center;
    color:white;
    font-size:60px;
}
.main-img img{
    position: relative;
    top:12%;
}

.main-img p{
    position: relative;
    top:10%;
    margin-bottom: 20px;
}
 
.btn{ 
    text-decoration: none;
    font-family: "Amatic";
    padding: 10px 30px;
    position: relative;
    top:5%;
    font-size: 30px;
    background-color: black;
    cursor: pointer;
}
.main-img a{
    text-decoration: none;
    color: white;
}

.container-menu{
    width: 60%;
    height:1250px;
    margin-left: 20%;
    background-color: rgb(155, 154, 154);
    margin-top: 100px;
}
@media (max-width:600px) {
    .container-menu{
        width: 100%;
        margin-left: 0;
    }
    .meat>div{
        font-size: 14px;
    }
   
}
.title-m{
    text-align: center;
    color:black;
    position: relative;
    margin-bottom: 20px;
    top:7%;
    font-size: 20px;
}
.selection{
    width: 100%;
    display:flex;
    position: relative;
    top:8%;
    justify-content: space-around;
}
@media (min-width:600px){
    .choices{
        font-size: 28px !important;
    }
}
.choices{
    font-family: "Amatic";
    font-size: 22px;
    padding: 12px 20px;
    border: 1px solid white;
    color:white;
    background-color:rgb(0, 0, 0);
}
.choices:hover{
    background-color:red !important;
    cursor: pointer;
}
#menu-items{
    position: relative;
    top:15%;
}
.meat{
    display: flex;
    width:60%;
    margin-left: 20%;
    justify-content: space-between;
    color:black;
}
.meat-special{ display: flex;
    width:60%;
    top:15%;
    margin-left: 20%;
    justify-content: space-between;
    color:black;
}


.about{
    color:white;
    margin-top: 100px;
    width: 100%;
    background-color: rgb(107, 48, 48);
    position: relative;
    font-size:20px;
    font-weight:lighter;
}
.ab-text{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 200px;
    
}
@media(max-width:1000px){

.flex-img img{
   width:100px;
   height:250px;
}
}

.about h1{
    text-align: center;
    position: inherit;
    top:90px;
}
.about p{
    text-align: center;
    position: inherit;
    top:200px;
    margin-bottom: 100px;
}
.flex-img{
    width: 100%;
    display:flex;
    justify-content: space-evenly; 
    margin-bottom: 50px;
    margin-top:50px;
}

.flex-img p{
    width: 200px;
}
.img-con h1{
    margin-top: 100px;
    margin-bottom: -20px;
}
.img-con{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    row-gap: 50px;
}

.about p{
    font-size: 25px;
    font-weight: 600;
}
.fill{
    height:700px;
}
.fill img{
    width:100%;
    height:700px;
}

#con-title{
    background-color: rgb(48, 63, 46);
    color:black;
    text-align: center;
    font-size: 25px;
}

.contact{
    text-align: center;
    height:1100px;
    background-color: rgb(48, 63, 46);
}
.flex-info{
    display: flex;
    justify-content: space-around;
}

@media (max-width:900px) {
    .contact{
        height: 1400px;
    }
    .flex-info{
        margin-top: 150px;
        flex-direction: column;
    }
}
.social{
    text-align: center;
}
.social h2{
    margin-top: 200px;
    margin-bottom: 40px;
    
}
.social a{
    cursor: pointer;    
}
.contact h1{
    padding-top:50px;
}
.contact p{
    text-align: center;
    position: relative;
    top:18%;
    color:white;
    font-size: 30px;
}

.maps{
    margin-top: 200px;
    opacity: 0.8;
}
.maps:hover{
    opacity: 1;
}


.ContactForm{
    width: 80%;
    margin-left: 10%;
    margin-top:80px;
}
.ContactForm h3{
    color: white;
    text-align: center;
    font-size: 40px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    font-family: 'Mans';
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ff0000;
  }
  
  .container {
    border-radius: 5px;
    background-color: #424242;
    padding: 20px;
  }
  label {
    color:white;
    font-size: 30px;
  }

.footer{
    background-color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
}

#scrollBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 8px; 
    font-size: 30px; 
  }
  
  #scrollBtn:hover {
    background-color: red; 
  }
.menul{
    text-align: center;
    margin-bottom: -80px;
}

.GoWeb{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}
.languages{
    position: absolute;
    left:90%;
}
.active img{
    box-shadow: 0px 0px 10px 2px red;
}
@media (max-width:600px){
.languages{
    top:10px;
    left:60%;
}
.maps{
    width:300px;
    height:200px;
}
}
.img-text{
    margin-top: 30px;
    display: flex;
    text-align: center;
    width: 80%;
    column-gap: 50px;
}

.img-text p{
    margin-top:50px;
}

.img-text img{
    width: 550px;
    height: 380px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    filter: drop-shadow(0 0 0.75rem rgb(65, 36, 36));
}

@media (max-width:1000px){
    .img-text{
        flex-direction: column;
    }
  
    .img-text img{
        width:90%;
        height:auto;
    }
    .text-order{
        order:2;
    }
}
span{
    font-size:35px !important;
}

.hiddenL{
    opacity:0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hiddenR{
    opacity:0;
    filter:blur(5px);
   
    transition: all 1s;
}
.hiddenImgR{
    opacity:0;
    filter:blur(5px);
    transition: all 1s;
}
.hidden{
    opacity:0;
    filter:blur(10px);
    transition: all 1s;
}
.show{
    opacity:1;
    filter:blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion){
    .hiddenR{
        transition:none;
    }
    .hiddenL{
        transition:none;
    }

}
.lan-men{
    margin-top: 100px;
    margin-bottom: -90px;
    text-align: center;
}